# Covariant Shift (Credit Model 281)

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import xgboost as xgb

import pickle
from sklearn.externals import joblib
pd.set_option('display.max_columns', 500)

In [35]:
# Read all data
df_demo = pd.read_csv('data/demo.csv',index_col='ip_id')
df_y_train = pd.read_csv('data/y_train.csv',index_col='ip_id')
df_y_test = pd.read_csv('data/y_test_index.csv',index_col='ip_id')

- Create age at open account

In [36]:
## Create Feature Age when opened the account
df_demo['age_open_acc'] = df_demo['act_strt_dt'].str.split('-').str.get(0).apply(float) - df_demo['brth_yr']

### Merge data

- For Feature Selection

In [37]:
# df_ = pd.concat([df_cc.drop(['label'],axis=1),df_cc_test],axis=0)
df = df_demo

In [38]:
df.shape

(10299, 10)

- For test model

In [39]:
df_test = df_demo[(df_demo.index.isin(df_y_test.index)) & \
                  (df_demo.index.isin(pd.read_csv('data/cc_txn.csv',index_col='ip_id').index.unique())== False) &
                 (df_demo.index.isin(pd.read_csv('data/sa.csv',index_col='ip_id').index.unique())== False)]
df_test.shape

(281, 10)

In [40]:
df_test

,brth_yr,act_strt_dt,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,age_open_acc
ip_id,,,,,,,,,,
6391,1963.0,2008-01-18,1.0,42238.0,4151.0,1.0,2.0,2.0,7,45.0
6399,1976.0,2014-07-22,1.0,34839.0,500.0,1.0,2.0,5.0,9,38.0
6406,1961.0,2010-11-12,0.0,31662.0,7903.0,2.0,1.0,1.0,3,49.0
6418,1961.0,2001-11-17,0.0,26304.0,1817.0,2.0,1.0,4.0,3,40.0
6422,1983.0,2013-09-10,0.0,33199.0,35765.0,1.0,2.0,4.0,3,30.0
6458,1975.0,2017-06-13,1.0,23449.0,500.0,1.0,2.0,3.0,3,42.0
6477,1972.0,2017-10-14,0.0,27297.0,6098.0,2.0,1.0,4.0,3,45.0
6486,1978.0,2007-09-04,0.0,42848.0,500.0,1.0,1.0,4.0,3,29.0
6504,1967.0,2006-07-20,1.0,27746.0,500.0,1.0,1.0,4.0,3,39.0
6510,1985.0,2018-01-11,0.0,18519.0,500.0,2.0,1.0,4.0,3,33.0
6528,1962.0,2018-01-11,1.0,36989.0,4477.0,2.0,4.0,2.0,1,56.0
6529,1973.0,2006-01-09,0.0,45824.0,500.0,1.0,1.0,4.0,3,33.0
6541,1984.0,2002-04-03,4.0,29466.0,500.0,1.0,2.0,3.0,3,18.0
6564,1980.0,2011-09-01,0.0,55794.0,10918.0,1.0,2.0,3.0,3,31.0
6589,1970.0,2018-01-11,2.0,20637.0,500.0,1.0,3.0,3.0,6,48.0
6592,1980.0,2017-04-06,0.0,37672.0,976.0,2.0,2.0,5.0,1,37.0
6596,1978.0,2008-12-02,1.0,44734.0,500.0,2.0,2.0,5.0,1,30.0
6599,1982.0,2007-04-20,0.0,20430.0,500.0,2.0,1.0,3.0,7,25.0
6601,1981.0,2016-10-13,0.0,7110.0,500.0,2.0,1.0,4.0,3,35.0
6604,1988.0,2018-01-11,1.0,16686.0,500.0,1.0,1.0,4.0,3,30.0
6619,1974.0,2012-04-26,1.0,10960.0,754.0,2.0,1.0,4.0,2,38.0
6678,1986.0,1999-05-08,1.0,8887.0,4293.0,1.0,2.0,4.0,3,13.0
6712,1979.0,2018-01-11,0.0,58755.0,500.0,1.0,1.0,4.0,2,39.0
6729,1983.0,2008-05-15,0.0,34702.0,500.0,1.0,2.0,3.0,5,25.0
6756,1974.0,2018-01-11,0.0,26449.0,500.0,1.0,2.0,4.0,3,44.0
6763,1980.0,2011-11-27,0.0,62737.0,2926.0,2.0,1.0,4.0,3,31.0
6769,1969.0,2016-05-19,0.0,27799.0,7487.0,1.0,2.0,6.0,3,47.0
6773,1988.0,2016-10-31,0.0,0.0,19220.0,2.0,2.0,4.0,3,28.0
6783,1978.0,2002-02-02,0.0,11352.0,500.0,1.0,2.0,3.0,3,24.0
6789,1985.0,2017-09-16,0.0,1671.0,500.0,2.0,2.0,4.0,7,32.0
...,...,...,...,...,...,...,...,...,...,...
9955,1975.0,2013-11-21,0.0,8716.0,4777.0,2.0,1.0,4.0,3,38.0
9984,1981.0,2016-06-20,4.0,35852.0,1984.0,1.0,2.0,5.0,1,35.0
9990,1984.0,2018-01-11,0.0,26322.0,6775.0,2.0,1.0,4.0,3,34.0
10010,1982.0,2004-01-17,0.0,34430.0,500.0,1.0,2.0,4.0,3,22.0
10019,1992.0,2018-01-11,0.0,32302.0,500.0,2.0,1.0,4.0,3,26.0
10033,1975.0,2018-01-11,1.0,24307.0,500.0,1.0,1.0,3.0,3,43.0
10035,1961.0,2016-12-15,4.0,43955.0,5379.0,2.0,2.0,5.0,1,55.0
10045,1977.0,2017-02-15,1.0,46686.0,500.0,2.0,2.0,4.0,3,40.0
10047,1998.0,2016-05-03,0.0,22888.0,3742.0,2.0,1.0,2.0,2,18.0
10050,1984.0,2017-05-29,1.0,41864.0,15969.0,1.0,1.0,3.0,4,33.0
10052,1959.0,2014-05-16,1.0,68065.0,10121.0,1.0,2.0,5.0,1,55.0
10054,1978.0,2016-09-20,1.0,22648.0,234.0,2.0,4.0,2.0,3,38.0
10071,1970.0,2017-05-24,2.0,18528.0,500.0,1.0,2.0,3.0,1,47.0
10086,1961.0,2013-04-25,1.0,56728.0,313.0,2.0,2.0,4.0,11,52.0
10091,1988.0,2018-01-11,0.0,11183.0,500.0,2.0,1.0,4.0,2,30.0
10097,1977.0,2017-11-04,1.0,30278.0,5841.0,2.0,1.0,3.0,3,40.0
10121,1977.0,2006-05-07,0.0,37057.0,500.0,2.0,1.0,1.0,3,29.0
10127,1971.0,2017-06-07,0.0,9219.0,3582.0,1.0,1.0,4.0,3,46.0
10141,1977.0,2006-03-19,0.0,0.0,1251.0,2.0,1.0,4.0,3,29.0
10159,1976.0,2018-01-11,1.0,11339.0,22935.0,2.0,2.0,3.0,3,42.0
10200,1989.0,2015-11-10,0.0,39221.0,500.0,2.0,1.0,4.0,3,26.0
10202,1959.0,2012-12-27,0.0,47485.0,500.0,1.0,1.0,4.0,3,53.0
10233,1969.0,2016-12-24,1.0,52431.0,500.0,2.0,2.0,5.0,1,47.0
10244,1983.0,2010-04-30,2.0,32030.0,500.0,2.0,1.0,2.0,3,27.0
10262,1963.0,2016-10-11,2.0,44208.0,9112.0,2.0,2.0,2.0,3,53.0
10264,1970.0,2010-03-15,1.0,23790.0,23447.0,2.0,4.0,2.0,3,40.0
10266,1967.0,2014-03-22,2.0,8668.0,500.0,1.0,2.0,4.0,1,47.0
10277,1977.0,2018-01-11,1.0,2460.0,500.0,1.0,1.0,3.0,3,41.0
10289,1975.0,2018-01-11,3.0,37141.0,4140.0,2.0,2.0,4.0,3,43.0
10298,1962.0,2016-08-01,0.0,71481.0,500.0,2.0,1.0,4.0,1,54.0

# Manage the categorical data

### One-hot  Option 1

- For Feature Selection

In [41]:
# df.drop(['act_strt_dt'],axis=1,inplace=True)
# dummy = pd.get_dummies(df[df.select_dtypes('object').columns.tolist()])
# df = pd.concat([dummy,df[df.select_dtypes(['int64','float64']).columns.tolist()]],axis=1)

In [42]:
# df_test.dtypes

- For test model

In [43]:
# df_test = pd.get_dummies(df_test[df_test.select_dtypes('object').columns.tolist()])
# df_test = pd.concat([dummy,df_test[df_test.select_dtypes(['int64','float64']).columns.tolist()]],axis=1)
# df_test.shape

### Drop Option 2

- For Feature Selection

In [44]:
df.drop(df.select_dtypes('object').columns.tolist(),axis=1,inplace=True)

- For Test model

In [45]:
df_test.drop(df_test.select_dtypes('object').columns.tolist(),axis=1,inplace=True)

/home/thanatlapthawan/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

# Create Label "is_train" 0 or 1

In [46]:
df['is_train'] = np.where(df.index.isin(df_y_train.index),1,0)

# Feature Selection
- Find the feature which have the same distribution

In [47]:
def feature_select(df_all, thres = 0.5):
    res = 1
    while res > thres:
        columns = df_all.columns.tolist()

        y = df_all['is_train'].values
        X = df_all.drop(['is_train'],axis=1).values
        X_train, X_val, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=0)
        
        
        rfc = RandomForestClassifier(n_jobs=-1, max_depth=5, min_samples_leaf = 5,
                                    n_estimators=100)
        rfc.fit(X_train,y_train)
        res_prob = rfc.predict_proba(X_val)[:, 1]

        fpr, tpr, thresholds = metrics.roc_curve(y_test.ravel(), res_prob, pos_label=1)
        res = metrics.auc(fpr, tpr)
        
        if res > thres:
            df_all= df_all.drop([columns[rfc.feature_importances_.argmax()]],axis=1)
    
    print(res)
    return df_all

In [48]:
df_select = feature_select(df,0.7)

0.6906286913769435

In [49]:
df_select.head()

       no_of_dpnd_chl  gnd_cd  age_open_acc  is_train
ip_id
1                 0.0     2.0          21.0         1
2                 1.0     2.0          24.0         1
3                 0.0     2.0          30.0         1
4                 0.0     2.0          25.0         1
5                 1.0     2.0          20.0         1

# Use the selected feature to build a credit model with randomForest

In [50]:
df_train_features = df[df.index.isin(df_y_train.index)][[col for col in df_select.drop(['is_train'],axis=1).columns]]
df_train_label = df_y_train

In [52]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
clf1 = LogisticRegression(solver='lbfgs', multi_class='multinomial',
                          random_state=1)
clf2 = RandomForestClassifier(n_estimators=50, random_state=1)
clf3 = GaussianNB()
eclf1 = VotingClassifier(estimators=[
        ('lr', clf1), ('rf', clf2), ('gnb', clf3)], voting='soft')
eclf1 = eclf1.fit(df_train_features, df_train_label)
print(eclf1.predict(df_train_features))
import numpy as np
from sklearn.metrics import roc_auc_score
y_true = df_train_label
y_scores = eclf1.predict_proba(df_train_features)[:,1]
print (roc_auc_score(y_true, y_scores))

/home/thanatlapthawan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/thanatlapthawan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[0. 0. 0. ... 1. 0. 0.]
0.8461658904867393

/home/thanatlapthawan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

# Use the trained model to predict the test data

In [53]:
df_test = df_test[df_test.index.isin(df_y_test.index)][[col for col in df_select.drop(['is_train'],axis=1).columns]]

In [54]:
result = eclf1.predict_proba(df_test)[:,1]

In [55]:
df_test['prob1'] = result

In [ ]:
df_test[['prob1']].to_csv('result_1127.csv')

In [56]:
df_test[['prob1']].

          prob1
ip_id
6391   0.169343
6399   0.107880
6406   0.455780
6418   0.096379
6422   0.070481
6458   0.110590
6477   0.194794
6486   0.073785
6504   0.092281
6510   0.070980
6528   0.732309
6529   0.075151
6541   0.793862
6564   0.074498
6589   0.635135
6592   0.066271
6596   0.089082
6599   0.071673
6601   0.079164
6604   0.086039
6619   0.118800
6678   0.521419
6712   0.098014
6729   0.076303
6756   0.191671
6763   0.063811
6769   0.278792
6773   0.067691
6783   0.080941
6789   0.066371
...         ...
9955   0.083215
9984   0.652415
9990   0.076269
10010  0.088461
10019  0.076685
10033  0.122862
10035  0.796389
10045  0.089883
10047  0.156737
10050  0.085282
10052  0.728332
10054  0.118800
10071  0.595066
10086  0.698484
10091  0.066150
10097  0.089883
10121  0.067250
10127  0.375600
10141  0.067250
10159  0.102444
10200  0.076685
10202  0.702781
10233  0.370290
10244  0.167648
10262  0.745400
10264  0.089883
10266  0.595066
10277  0.102098
10289  0.504534
10298  0.707472

[281 rows x 1 columns]